<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>


<%= render 'books/list', book_new: @book_new %>

<h3>Books</h3>
<% @book.each do |book| %>
<div>
  <p>画像
  <%= link_to user_path(book.user_id) do %>
    <%= image_tag book.user.get_profile_image(100,100) %>
  </p>
  <% end %>

  <p>
  <%= link_to book_path(book.id) do %>
    <%= book.title %>
  </p>
    <% end %>

  <p>説明：<%= book.body %></p>

</div>
<% end %>


