<h2>New books</h2>
<!--エラーメッセージ-->
<% if book_new.errors.any? %>
  <%= book_new.errors.count %>件のエラーが発生しました
  <ul>
    <% book_new.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<!--新規投稿-->
<%= form_with model: book_new do |f| %>
<div>
  <p>Title</p>
    <%= f.text_field :title %>
</div>
<div>
  <p>Opinion</p>
    <%= f.text_area :body %>
</div>
  <%= f.submit 'Create Book', class: "btn btn-sm btn-success" %>
<% end %>