<%= render 'list', book_new: @book_new %>

<% @books.each do |book| %>
<div>
  <p>投稿ユーザー画像：
  <%= link_to user_path(book.user_id) do %>
    <%= image_tag book.user.get_profile_image(100,100) %>
  </p>
  <% end %>

  <p>title：
  <%= link_to book_path(book.id) do %>
    <%= book.title %>
  </p>
  <% end %>
  <p>説明：<%= book.body %></p>

</div>
<% end %>
