<h1>Books#show</h1>
<p>Find me in app/views/books/show.html.erb</p>

<%= render 'list', book_new: @book_new %>


<div>
  <h2>Book detail</h2>
  <div>
    <%= link_to user_path(@book.user.id) do %>
      <%= image_tag @book.user.get_profile_image(100,100) %>
      <%= @book.user.name %>
  </div>
    <% end %>
  <p>投稿ユーザー画像： ユーザーネーム：</p>
  <p>title：<%= @book.title %></p>
  <p>説明：<%= @book.body %></p>
  <p>投稿日：<%= @book.created_at.strftime('%Y/%m/%d') %></p>
  <% if @book.user == current_user %>
    <%= link_to "edit", edit_book_path(@book) %>
    <%= link_to "destroy", book_path(@book), method: :delete %>
  <% end %>



</div>